extends base

block scripts
    script(src="/assets/js/vue.min.js")
    script(src="/assets/js/home.js")
    script.
        home.negocios.categories    = !{JSON.stringify(_categorias.negociosSub)}
        home.lifeStyle.categories   = !{JSON.stringify(_categorias.lifeStyleSub)}


block content
    .main-content
        #app
            .trending-posts-line
                .container
                    //- .trending-line
                        .trending-now
                            | Últimas Matérias
                        .tl-slider
                            for materia in _categorias.lastArticles
                                div
                                    a(href='/materia/'+materia.slug)= materia.title
                        .tl-slider-control
            .main-posts-1
                .mp-section
                    .two-thirds.sm-full.main-slider-1(Style="height: 100%")
                        .swiper-container.js-main-slider-1(Style="height: 100%")
                            .swiper-wrapper

                                for materiaSlider in mainSlider
                                    .swiper-slide
                                        article.post.post-tp-1(Style="height: 100%")
                                            figure(Style="height: 100%")
                                                a(href='/materia/'+materiaSlider.slug Style="height: 100%")
                                                    div.adaptive(alt='Spectr News Theme' Style="height: 100%; width: 100%; background-image: url('"+materiaSlider.main_img_path+"'); background-size: 100%; background-position: 50%;")
                                            .ptp-1-overlay
                                                .ptp-1-data
                                                    a.category-tp-1(href='/materia/'+materiaSlider.slug)
                                                     | #{materiaSlider.categoria} > #{materiaSlider.subcategoria}
                                                    h1.title-1
                                                        a(href='/materia/'+materiaSlider.slug)= materiaSlider.title
                                                    .meta-tp-1
                                                        //.ptp-1-date
                                                    a.read-tp-1(href='/materia/'+materiaSlider.slug)
                                                        span Leia mais
                                                        span.arr-right-light-ic
                                                            i
                            .nav-arrow.prev
                                i.ms-prev
                                .slide-count
                            .nav-arrow.next
                                i.ms-next
                                .slide-count

                    .one-third.sm-hide
                        .trend-pst-slider
                            .trpst-block
                                .trpst-block-head
                                    h2.title-4
                                        strong Edição
                                        | &nbsp;deste mês
                                    .js-sbr-pagination
                                .trpst-block-main
                                    .js-trend-pst-slider
                                        div
                                            for materiaSlider in mainSlider
                                                article.post.post-tp-3
                                                    figure
                                                        a(href='')
                                                            img.adaptive(src=materiaSlider.main_img_path+"?dim=126x98", height='98', width='126', alt='Spectr News Theme')
                                                    a.category-tp-2(href='') #{materiaSlider.subcategoria}
                                                    h3.title-3
                                                        a(href='/materia/'+materiaSlider.slug)= materiaSlider.title
                                .trpst-block-foot
                                    a(href='/edicoes')
                                        span.more-txt Mais matérias
                                        span.arr-right-dark-ic
                                            i
                .mp-section

                    for materia in _categorias.agendaCultural
                        .one-third.sm-half.xs-full
                            article.post.post-tp-2
                                figure
                                    a(href='/materia/'+materia.slug)
                                        img.adaptive(src=materia.main_img_path+"?dim=380x258", height='258', width='380', alt='Spectr News Theme')
                                .ptp-1-overlay
                                    .ptp-1-data
                                        a.category-tp-1(href='/materia/'+materia.slug) #{materia.categoria} > #{materia.subcategoria}
                                        h2.title-29
                                            //- a(href='#1')= materia.info_titulo
                                            a(href='#1')= materia.title
                                        //.meta-tp-1
                                            //.ptp-1-date
                                                a(href='')= materia.data_postagem
            // Main posts END
            .section
                .trend-pst
                    .pst-block
                        .pst-block-head
                            h2.title-4
                                strong Lifestyle
                            .filters
                                ul.filters-list-1.xs-hide
                                    li
                                        a(href="javascript:;", v-on:click="home.vue.getByCategory('lifeStyle', 3, 4)") todos
                                        for scat in _categorias.lifeStyleSub
                                            li
                                                a(href='javascript:void(0)', v-on:click="home.vue.getBySub('lifeStyle',"+scat.id+", 2)", "v-bind:class"="{active: lifeStyle.active_sub == ''}")= scat.name
                        .pst-block-main
                            .col-row
                                .alert.alert-danger(v-show="!lifeStyle.materias.length") Não existem matérias nesta categoria.
                                .col-one-quarter(v-for="materia in lifeStyle.materias")
                                    article.post.post-tp-4
                                        figure
                                            a("v-bind:href"="'/materia/'+materia.slug")
                                                img.adaptive("v-bind:src"="materia.showImage+'?dim?260x186'", height='186', width='260', alt='Spectr News Theme')
                                        h3.title-3
                                            a("v-bind:href"="'/materia/'+materia.slug") {{ materia.showTitle }}
                                        .meta-tp-2
                                            //.date
                                                //span {{ materia.data_postagem }}
                                            .category
                                                i.li_pen
                                                span {{ materia.main_categ_name }}
                        .pst-block-foot
                            a(href='/materias/life-style') mais matérias

            .main-video-posts
                .video-posts-pane
                    .vpst-block
                        .vpst-block-head
                            h2.title-4
                                strong Vídeos

                        .vpst-block-main   
                            .half.sm-full.mb-pt-hide
                                - var video = _categorias.videos.shift()
                                article.post.post-tpv-1
                                    figure
                                        a(href='/videos/'+video.slug)
                                            img.adaptive(src=video.img_path+"?dim=570x430", height='430', width='570', alt='Spectr News Theme')
                                    .ptp-1-overlay
                                        span.arr-left-light-lg-ic.video-lg-ic
                                            i
                                        .ptp-1-data
                                            //a.category-tp-1.breve(href='javascript:void(0)') video
                                            h2.title-7
                                                a(href='/videos/'+video.slug)= video.title
                                            .meta-tp-1
                                                //.ptp-1-date
                                                    a.breve(href='javascript:void(0)')= video.data_cadastro

                            .half.sm-full
                                for video in _categorias.videos
                                    .half
                                        article.post.post-tpv-2
                                            figure
                                                a(href='/video/'+video.slug)
                                                    img.adaptive(src=video.img_path+"?dim=285x215", height='215', width='285', alt='Spectr News Theme')
                                            .ptp-1-overlay
                                                .ptp-1-data
                                                    span.arr-left-light-sm-ic.video-sm-ic
                                                        i
                                                    h2.title-5
                                                        a(href='/videos/'+video.slug)= video.title
                                                    .date-tp-2
                        .vpst-block-foot
                            a.breve(href='/videos') Mais vídeos






            .section
                .row
                    .content
                        .popular-pst
                            .pst-block
                                .pst-block-head
                                    h2.title-4
                                        strong Negócios
                                    .filters
                                        ul.filters-list-1.xs-hide
                                            li
                                                a(href="javascript:;", v-on:click="home.vue.getByCategory('negocios', 4, 2)") todos
                                                for scat in _categorias.negociosSub
                                                    li
                                                        a(href='javascript:void(0)', v-on:click="home.vue.getBySub('negocios',"+scat.id+", 2)", "v-bind:class"="{active: negocios.active_sub == ''}")= scat.name

                                .pst-block-main
                                    .col-row
                                        .alert.alert-danger(v-show="!negocios.materias.length") Não existem matérias nesta categoria.
                                        .col-half(v-for="materia in negocios.materias")
                                            article.post.post-tp-5
                                                figure
                                                    a("v-bind:href"="'/materia/'+materia.slug")
                                                        img.adaptive("v-bind:src"="materia.showImage+'?dim?260x186'", height='186', width='260', alt='Spectr News Theme')
                                                h3.title-5
                                                    a("v-bind:href"="'/materia/'+materia.slug") {{ materia.showTitle }}
                                                .meta-tp-2
                                                    //-.date
                                                        span {{ materia.data_postagem }}
                                                    .category
                                                        i.li_pen
                                                        span {{ materia.main_categ_name }}
                                                p.p {{ materia.showContent }}                               
                                .pst-block-foot
                                    a(href='/materias/negocios') mais matérias


                    aside.side-bar
                        include ./partials/_search
                        include ./partials/_tags
                        include ./partials/_advertising

            .section
                .main-slider-1
                    .swiper-container.js-main-slider-1
                        .swiper-wrapper
                            for materia in destinos
                                .swiper-slide
                                    article.post.post-tp-1
                                        figure
                                            a(href='/materia/'+materia.slug)
                                                img.adaptive(src=materia.showImage+"?dim=1140x511", height='511', width='1140', alt='Spectr News Theme')
                                        .ptp-1-overlay
                                            .ptp-1-data
                                                //-a.category-tp-1(href='/materia/'+materia.slug) #{materia.categoria.nome} > #{materia.subcategoria.nome}
                                                h1.title-1
                                                    a(href='#1')= materia.showTitle
                                                .meta-tp-1
                                                    //-.ptp-1-date
                                                        a(href='')= materia.data_postagem
                                                a.read-tp-1(href='')
                                                    span Leia mais
                                                    span.arr-right-light-ic
                                                        i
                        .nav-arrow.prev
                            i.ms-prev
                            .slide-count
                        .nav-arrow.next
                            i.ms-next
                            .slide-count


            .main-video-posts
                .video-posts-pane
                    .vpst-block
                        .vpst-block-head
                            h2.title-4
                                strong We Love Avianca
                        .vpst-block-main
                            .half.sm-full
                                for a in _categorias.welove[0]
                                    .half
                                        article.post.post-tpv-2
                                            figure
                                                img.adaptive(src=a.image+"?dim=285x215", height='215', width='285', alt='Spectr News Theme')
                            .half.sm-full
                                for b in _categorias.welove[1]
                                    .half
                                        article.post.post-tpv-2
                                            figure
                                                img.adaptive(src=b.image+"?dim=285x215", height='215', width='285', alt='Spectr News Theme')
                        .vpst-block-foot
                            a.breve(href='/welove') Mais fotos

        .section(style="margin-bottom: 0 !important;")
            .trend-pst
                .pst-block
                    .pst-block-head
                        h2.title-4
                            strong Guia de Entretenimento
                    .pst-block-main
                        .col-row
                        for materia in _categorias.guia
                            .col-one-quarter
                                article.post.post-tp-4
                                    figure
                                        a
                                            img.adaptive(src=materia.main_img_path, height='186', width='260', alt='Spectr News Theme')
                                    h3.title-3
                                        a
                                    .meta-tp-2
                    .pst-block-foot
                        a Veja a programação que está a bordo

        //- .main-video-posts(style="background: #fff; margin: 0;")
            .video-posts-pane
                .vpst-block
                    .vpst-block-head
                        h2.title-4
                            strong(style="color: #000") Social
                    .vpst-block-main
                        for person in _categorias.social
                            .social-image
                                article.post.post-tpv-2
                                    figure
                                        img.adaptive(src=person.img_path+"?dim=285x215", height='215', width='285', alt='Spectr News Theme')
                                    .ptp-1-overlay
                                        .ptp-1-data
                                            h2.title-7= person.title
                .vpst-block-foot
                    a.breve.social(href='#') Mais fotos