extends base

block content
	<div class="main-content">
		<div class="video-content">
			<section class="section">
				<div class="pst-block">
					<div class="page-head-tile">
						<div class="container">
							<div class="page-title">
								<h1 class="title-16"><strong>Video</strong></h1>
							</div>
						</div>
					</div>
					<div class="section">
						<div class="row">
							<div class="content" style="width: 100%;">
								<div class="pst-block">
									iframe(style="width: 100%; height: 618px" src="https://www.youtube.com/embed/"+selectedVideo.youtube_code allowfullscreen)
									<div class="pst-block-main">
										<div class="post-tile">
											<div class="col-row col-eq">
												for video in videos
													<div class="col-one-third sm-half mb-ls-full">
														<article class="post post-tp-29">
															<figure style="height: 150px; overflow: hidden;">
																<a href="/videos/#{video.slug}">
																	<img src=#{video.miniatura_path} height="150" width="224" style="margin-top: -50px;" alt="Spectr News Theme" class="adaptive" />
																</a>
															</figure>
															//- <div class="date-tp-2"><span> #{video.created_at} </span></div>
															<h3 class="title-3"><a href="/videos/#{video.slug}"> #{video.nome} </a></h3>
														</article>
													</div>
											</div>
										</div>

										//- <div class="page-nav">
										//- 	<a href="" class="pn-item">
										//- 		<i class="page-nav-prev-ic"></i>
										//- 	</a>
										//- 	<a href="" class="pn-item mb-pt-hide">1</a>
										//- 	<a href="" class="pn-item current mb-pt-hide">2</a>
										//- 	<a href="" class="pn-item mb-pt-hide">3</a>
										//- 	<span class="extend mb-pt-hide">...</span>
										//- 	<a href="" class="pn-item mb-pt-hide">7</a>
										//- 	<a href="" class="pn-item">
										//- 		<i class="page-nav-next-ic"></i>
										//- 	</a>
										//- 	<span class="page-count">Page 1 of 7</span>
										//- </div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>  
		</div>
	</div>